body {
  font-family: 'Caudex', serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: #cbb8fc;
  color: #333;
  line-height: 1.8;
}

header, footer {
  background: #000000;
  color: white;
  padding: 2em;
  text-align: center;
}

main {
  max-width: 1000px;
  margin: 1.5rem auto;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
  font-size: 3em;
  margin: 20px auto;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 10px auto;
}

h3 {
  font-size: 1.7em;
  text-align: center;
  margin: 10px auto;
}

a {
  color: #5846c0;
  text-decoration: none;
}
li a:hover {
  color: #372b77;
  text-decoration: underline;
}

ul {
  margin: 20px 0 0 0;
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 17px;
  text-align: center;
  margin-bottom: 0.8rem;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.italics {
  font-style: italic;
}

#chapter-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75em;
}

#chapter-nav a {
  flex: 1;
  text-align: center;
  color:#cbb8fc;
}
#chapter-nav a:hover {
  color:#fcfaff;
}

#prev-chapter {
  text-align: left;
}

#next-chapter {
  text-align: right;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  main {
    max-width: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0;
    box-shadow: none;
  }

  footer {
    font-size: 1.125em;
    padding: 1.25em 0.75em;
  }

  #chapter-nav {
    gap: 0.75em;
    padding: 0.25em 0;
    margin: 0;
  }

  #chapter-nav a {
    line-height: 1.5;
    padding: 0.5em 0.25em;
    display: inline-block;
    min-height: 2.5em;
  }
}